*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #f0f0f0;
   
}

.page-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    background:  url('https://images.unsplash.com/photo-1512514076443-1eef59c260b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
    background-size: contain;
}